
<%- ad('home-top') %>
	

<div class="row main-row">
<%- ad('home-scrapper-left') %>
	<div class="9u 12u(mobile)">
		<section>
			<h2>Live demo</h2>
			
			<%- ad('home-rect-left') %>
			
			<%- ad('home-rect-right') %>
			
			<p>This web site is a live demo of <a href="https://github.com/mi-g/express-ads" target="express-ads">express-ads</a>, 
			a <a href="https://nodejs.org/" target="_blank">Node.js</a> module
			dedicated to distributing and managing ads on an <a href="http://expressjs.com/" target="_blank">Express</a>-based web site.</p>
			
			<p>The demo site is based on <a href="https://github.com/mi-g/exskel" target="_blank">Exskel</a>, a skeleton to create Express sites
			from.</p>
			
			<p>You can play with the ads configuration, modify, create or remove campaigns, banners, creatives and inventory areas. Just keep in mind
			that those changes are only for you to see and will be destroyed after 10 minutes of inactivity.</p>
			
			<p>The full source code for this demo web site is available <a href="https://github.com/mi-g/express-ads-demo" target="_blank">on github</a>.</p>
			
			<footer class="controls">
				<a href="https://github.com/mi-g/express-ads" target="express-ads" class="button">More about express-ads ...</a>
			</footer>
		</section>

	</div>
</div>

<%- ad('home-middle') %>

<div class="row main-row">
	<p>You can see below what inventory areas have been placed in this sample site. In your own site, you can of course choose whatever
	placement with whatever names you want.</p>
</div>

<div class="row main-row">

<%- ad('home-scrapper-right') %>

	<div class="5u 12u(mobile)">

		<section>
			<h2>Home ad areas</h2>
			<ul class="image-list">
				<li>
					<a href="#"><img src="images/home-top.png" alt="" class="left" /></a>
					<h4>home-top</h4>
					<p>Wide area at the top of the homepage content</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-bottom.png" alt="" class="left" /></a>
					<h4>home-bottom</h4>
					<p>Wide area at the bottom of the homepage content</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-middle.png" alt="" class="left" /></a>
					<h4>home-bottom</h4>
					<p>Wide area in the middle of the homepage content</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-rect-left.png" alt="" class="left" /></a>
					<h4>home-rect-left</h4>
					<p>Compact area at the left of homepage first section</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-rect-right.png" alt="" class="left" /></a>
					<h4>home-rect-right</h4>
					<p>Compact area at the right of homepage first section</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-scrapper-left.png" alt="" class="left" /></a>
					<h4>home-scrapper-left</h4>
					<p>Sky-scrapper area at the left of homepage first section</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/home-scrapper-right.png" alt="" class="left" /></a>
					<h4>home-scrapper-right</h4>
					<p>Sky-scrapper area at the right of homepage first section</p>
					<br/>
				</li>
			</ul>
		</section>

	</div>
	<div class="5u 12u(mobile)">
	
		<section>
			<h2>Common ad areas</h2>
			<ul class="image-list">
				<li>
					<a href="#"><img src="images/header-text.png" alt="" class="left" /></a>
					<h4>header-text</h4>
					<p>Text at the bottom of the header of each page</p>
					<br/>
				</li>
			</ul>
		</section>

		<section>
			<h2>Content ad areas</h2>
			<ul class="image-list">
				<li>
					<a href="#"><img src="images/content-top.png" alt="" class="left" /></a>
					<h4>content-top</h4>
					<p>Wide rectangle at the top of the content page</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/content-text-middle.png" alt="" class="left" /></a>
					<h4>content-text-middle</h4>
					<p>Text in the middle of the content page</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/content-right.png" alt="" class="left" /></a>
					<h4>content-right</h4>
					<p>Sky-scrapper at the right of the content page</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/content-middle.png" alt="" class="left" /></a>
					<h4>content-middle</h4>
					<p>Wide rectangle in the middle of the content page</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/content-left.png" alt="" class="left" /></a>
					<h4>content-left</h4>
					<p>Sky-scrapper at the left of the content page</p>
					<br/>
				</li>
				<li>
					<a href="#"><img src="images/content-bottom.png" alt="" class="left" /></a>
					<h4>content-bottom</h4>
					<p>Wide rectangle at the bottom of the content page</p>
					<br/>
				</li>
			</ul>
		</section>

	</div>
</div>

<%- ad('home-bottom') %>


